SENDER_EMAIL=booking@shapenailloungeclt.com
SALON_EMAIL=shapenailloungeclt@gmail.com
BREVO_API_KEY=your-brevo-api-key-here
BREVO_CUSTOMER_TEMPLATE_ID=1
BREVO_SALON_TEMPLATE_ID=1
BREVO_REMINDER_TEMPLATE_ID=5
SHOP_LOGO_URL=https://img.mailinblue.com/11962144/images/content_library/original/6a93ae97ef18b433911b0deb.jpg
SHOP_PHONE=(704) 280-2159
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/nail-studio?retryWrites=true&w=majority
CRON_SECRET_TOKEN=your-random-token-here
