SALON_EMAIL=booking@shapenailloungeclt.com
BREVO_API_KEY=replace_with_valid_brevo_api_key
BREVO_CUSTOMER_TEMPLATE_ID=1
BREVO_SALON_TEMPLATE_ID=1
BREVO_REMINDER_TEMPLATE_ID=5
SHOP_LOGO_URL=https://img.mailinblue.com/11962144/images/content_library/original/6a93ae97ef18b433911b0deb.jpg
SHOP_PHONE=(704) 280-2159
VITE_API_BASE_URL=
