VITE_EMAILJS_SERVICE_ID=service_3g077du
VITE_EMAILJS_TEMPLATE_ID=template_bumrpwe
VITE_EMAILJS_OWNER_TEMPLATE_ID=template_mjv33gs
VITE_EMAILJS_PUBLIC_KEY=hB5F3V4A1gKVXXvPc
VITE_SALON_EMAIL=danhcute35@gmail.com
